streamlit
matplotlib
seaborn
pandas
numpy
python-docx
faiss-cpu
requests
PyPDF2
os
datetime
logging
json
docx2txt
streamlit
pandas
scikit-learn
faiss-cpu
PyPDF2
requests
streamlit_chat
streamlit_extras
